@charset "UTF-8";
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

input,
select,
textarea {
  font: inherit;
  color: inherit;
  vertical-align: top;
}

/* =====================================================
  「設定」ファイル 
  サイト共通で必要になる設定値を変数で定義しておくファイルです。
  ===================================================== */
/*モノクロ：タイポグラフィ*/
/*モノクロ*/
/*カラー*/
/*アクセント*/
/* =====================================================
  メディアクエリ用のmixinを定義

  // //使用例
// .header {
//   height: 100px; //ＰＣ用の表示

//   @include mq(sp) {
//     height: 60px; //スマホの時だけ高さを60pxに！
//   }
// }

このように @media screen and (width: 767px) { } を書かなくても、
PC用のcssを書きながらスマホ用の表示を書き足すことができます！
===================================================== */
/*----------------------------------
    共通
-----------------------------------*/
.body {
  font-family: "Noto Sans JP", serif;
  font-size: 12px;
  line-height: 1.6;
  color: #4a3636;
  background: #ffffff;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .body {
    font-size: 16px;
  }
}

.inner {
  max-width: 375px;
  margin-inline: auto;
  padding-inline: 20px;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1064px;
    padding-inline: 40px;
  }
}

.img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .pc-hidden {
    display: none;
  }
}

@media not screen and (min-width: 768px) {
  .sp-hidden {
    display: none;
  }
}

.underline {
  text-decoration-line: underline;
}

.bold {
  font-weight: 700;
}

.button {
  display: inline-block;
  color: #4a3636;
  font-weight: 700;
  line-height: 1.6;
  border-radius: 40px;
  border: 2px solid #4a3636;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 0px 0px #4a3636;
          box-shadow: 0px 4px 0px 0px #4a3636;
  height: 40px;
  padding: 6px 24px 6px 24px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .button {
    padding: 6px 16px 6px 16px;
  }
}
.button:hover {
  background: #ffee56;
}

.button-sm {
  height: 46px;
  font-size: 14px;
}
.button-lg {
  height: 70px;
  font-size: 20px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .header {
    height: 64px;
  }
}

.header__inner {
  padding-inline: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-inline: 24px;
  }
}

.header__logo {
  padding-block: 18.5px;
}
.header__logo a img {
  width: 210px;
  display: block;
}
@media screen and (min-width: 768px) {
  .header__logo a img {
    width: 183px;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 17px;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.header__link {
  font-size: 12px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; /* hoverする前のクラスにつける*/
  /* ホバー */
}
.header__link:hover {
  color: #67b0c7;
}

.drawer-icon {
  position: relative;
  width: 32px;
  height: 27px;
  z-index: 51;
}
@media screen and (min-width: 768px) {
  .drawer-icon {
    display: none;
  }
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
  top: 10px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(3) {
  top: 10px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 3px;
  border-radius: 6px;
  background: #4a3636;
  -webkit-transition: top 0.3x linear, -webkit-transform 0.3s linear;
  transition: top 0.3x linear, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, top 0.3x linear;
  transition: transform 0.3s linear, top 0.3x linear, -webkit-transform 0.3s linear;
}
.drawer-icon__bar .drawer-icon__dot {
  position: absolute;
  width: 4.8px;
  height: 3px;
  top: 0;
  left: 27.2px;
  border-radius: 6px;
  background: #4a3636;
}
.drawer-icon__bar:nth-of-type(1) {
  width: 25.6px;
}
.drawer-icon__bar:nth-of-type(2) {
  top: 12px;
}
.drawer-icon__bar:nth-of-type(3) {
  top: 24px;
}

.drawer-content {
  width: 375px;
  height: 100%;
  position: fixed;
  top: 64px;
  right: 0;
  background: #ffffff;
  z-index: 50;
  padding-inline: 114px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.drawer-content.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  padding-block: 20px;
  font-size: 14px;
  line-height: 1.6; /* 22.4px */
}

.drawer-contact__button {
  margin-top: 16px;
  text-align: center;
}

/*----------------------------------
    fv
-----------------------------------*/
.fv {
  background: #e9f6f8;
  margin-top: 64px;
  height: 554px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .fv {
    height: 740px;
  }
}

.fv__bg-image {
  position: absolute;
  top: 0;
  left: 0;
}

.fv__head {
  position: relative;
}

.fv__head-sub {
  text-align: center;
  text-shadow: 0px 0px 30px #ffffff;
  font-family: "Kiwi Maru", serif;
  color: #4a3636;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25; /* 17.5px */
  padding-top: 17px;
}
@media screen and (min-width: 768px) {
  .fv__head-sub {
    font-size: 24px;
    font-weight: 500;
    padding-top: 35px;
  }
}

.fv__title1 {
  position: absolute;
  top: 74px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 335px;
  height: 53px;
}
@media screen and (min-width: 768px) {
  .fv__title1 {
    top: 118px;
    width: 520px;
    height: 82px;
  }
}
.fv__title2 {
  position: absolute;
  top: 139px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 240px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .fv__title2 {
    top: 215px;
    width: 356px;
    height: 60px;
  }
}
.fv__image-items {
  position: relative;
}

.fv__fukidashi {
  position: absolute;
  top: 143px;
  left: 18%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 142px;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .fv__fukidashi {
    top: 180px;
    left: 32.6%;
    width: 244px;
    height: 130px;
  }
}

.fv__present {
  position: absolute;
  top: 136px;
  left: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 110px;
  height: 110px;
}
@media screen and (min-width: 768px) {
  .fv__present {
    top: 197px;
    left: 63.8%;
    width: 180px;
    height: 180px;
  }
}

.fv__smartphone-image {
  position: absolute;
  top: 240px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  width: 200px;
  height: 408px;
}
@media screen and (min-width: 768px) {
  .fv__smartphone-image {
    top: 213px;
    width: 250px;
    height: 510px;
  }
}

.fv__food {
  position: absolute;
  top: 523px;
  left: 8%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 86px;
  height: 141px;
  z-index: 11;
}
@media screen and (min-width: 768px) {
  .fv__food {
    top: 423px;
    left: 29%;
    width: 202px;
    height: 332px;
  }
}

.fv__cat1 {
  position: absolute;
  top: 585px;
  left: 87%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 98px;
  height: 72px;
  z-index: 13;
}
@media screen and (min-width: 768px) {
  .fv__cat1 {
    top: 615px;
    left: 70.5%;
    width: 233px;
    height: 174px;
  }
}

.fv__cat2 {
  position: absolute;
  top: 530px;
  left: 96%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 62px;
  height: 69px;
  z-index: 12;
}
@media screen and (min-width: 768px) {
  .fv__cat2 {
    top: 490px;
    left: 68.5%;
    width: 170px;
    height: 190px;
  }
}

/*----------------------------------
    about
-----------------------------------*/
.about {
  background: #e9f6f8;
  padding-top: 189px;
  padding-bottom: 0px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 176px;
  }
}

.about__decoration-bgl {
  position: absolute;
  top: 583px;
  left: -129px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  z-index: 24;
  /* デバッグ用に境界線を追加 */
}
.about__decoration-bgl img {
  width: 100%; /* 画像の幅を親要素に合わせる */
  height: 100%; /* 画像の高さを親要素に合わせる */
  -o-object-fit: cover;
     object-fit: cover; /* 画像のアスペクト比を維持しながら要素を覆う */
}
@media screen and (min-width: 768px) {
  .about__decoration-bgl {
    top: 250px;
    left: -338px;
    width: 480px;
    height: 480px;
  }
}

.about__decoration-bgr {
  position: absolute;
  top: 462px;
  right: -140px;
  width: 200px;
  height: 200px;
  z-index: 25;
  /* デバッグ用に境界線を追加 */
}
.about__decoration-bgr img {
  width: 100%; /* 画像の幅を親要素に合わせる */
  height: 100%; /* 画像の高さを親要素に合わせる */
  -o-object-fit: cover;
     object-fit: cover; /* 画像のアスペクト比を維持しながら要素を覆う */
}
@media screen and (min-width: 768px) {
  .about__decoration-bgr {
    top: 250px;
    right: -284px;
    width: 480px;
    height: 480px;
  }
}

.about__decoration-square {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__decoration-square {
    z-index: 21;
    position: absolute;
    top: 156px;
    left: -20px;
    display: block;
    width: 250px;
    height: 250px;
  }
}

.about__decoration-pawpads {
  position: absolute;
  top: 178px;
  right: 0;
  width: 54px;
  height: 120px;
}
@media screen and (min-width: 768px) {
  .about__decoration-pawpads {
    top: 100px;
    right: 160px;
    width: 100px;
    height: 220px;
  }
}

.about__decoration-goods {
  position: absolute;
  top: 950px;
  left: 185px;
  width: 133px;
  height: 65.003px;
}
@media screen and (min-width: 768px) {
  .about__decoration-goods {
    width: 308px;
    height: 150.604px;
    right: 120px;
  }
}

.about__decoration-stone {
  position: absolute;
  top: 908px;
  right: 20px;
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 768px) {
  .about__decoration-stone {
    width: 101px;
    height: 100.047px;
    top: 800px;
    right: 20px;
  }
}

.about__decoration-wave {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__decoration-wave {
    z-index: 21;
    position: absolute;
    top: 700px;
    right: 0px;
    display: block;
    width: 807px;
    height: 12px;
  }
}

.about__decoration-wave2 {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__decoration-wave2 {
    z-index: 21;
    position: absolute;
    top: 750px;
    right: -50px;
    display: block;
  }
}

.about__decoration-slope {
  position: absolute;
  top: 748px;
  left: -56px;
  width: 216px;
  height: 433px;
  z-index: 23;
}
@media screen and (min-width: 768px) {
  .about__decoration-slope {
    width: 427px;
    height: 817px;
    top: 498px;
    left: -103px;
  }
}

.about__decoration-onomichi {
  position: absolute;
  top: 1035px;
  left: 12px;
  width: 354.642px;
  height: 37.2px;
}
@media screen and (min-width: 768px) {
  .about__decoration-onomichi {
    width: 891px;
    height: 97px;
    top: 1172px;
    left: 49.8%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.about__contents {
  border-radius: 24px;
  background: #ffffff;
  padding: 30px 12px 40px;
  position: relative;
  z-index: 30;
}
@media screen and (min-width: 768px) {
  .about__contents {
    margin-inline: auto;
    max-width: 848px;
    border-radius: 40px;
    padding: 40px 12px 40px;
  }
}
.about__contents::before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -36px;
  width: 100px;
  height: 36px;
  background-color: #cce1e4;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: "";
}
@media screen and (min-width: 768px) {
  .about__contents::before {
    width: 140px;
    bottom: -50px;
    height: 50px;
  }
}

.about__image1 {
  position: absolute;
  top: 4%;
  left: 10%;
  width: 80px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .about__image1 {
    width: 134px;
    height: 100px;
  }
}

.about__image2 {
  position: absolute;
  top: 4%;
  left: 70%;
  width: 80px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .about__image2 {
    width: 134px;
    height: 100px;
  }
}

.title {
  color: #4a3636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .title {
    gap: 8px;
  }
}

.title-image {
  width: 48px;
  height: 48px;
  display: block;
}
.title-image img {
  max-width: 100%;
}

.title-sub {
  text-align: center;
  font-family: "Courgette", cursive;
  line-height: 1.25; /* 20px */
}
@media screen and (min-width: 768px) {
  .title-sub {
    font-size: 20px;
  }
}

.title-main {
  text-align: center;
  font-family: "Kiwi Maru", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25; /* 25px */
}
@media screen and (min-width: 768px) {
  .title-main {
    font-size: 32px;
  }
}
.title-main span {
  display: inline-block;
  position: relative;
}
.title-main span::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #ffee56;
}
@media screen and (min-width: 768px) {
  .title-main span::before {
    bottom: -15px;
  }
}

.about__body {
  text-align: center;
  color: #4a3636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin-top: 37px;
}
@media screen and (min-width: 768px) {
  .about__body {
    margin-top: 50px;
  }
}

.about__heading {
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about__heading {
    font-size: 16px;
  }
}

.about__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18.5px;
}
@media screen and (min-width: 768px) {
  .about__text-container {
    margin-top: 10px;
    gap: 27.6px;
  }
}

.about__text {
  font-size: 12px;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 16px;
    line-height: 1.6;
  }
}

.about__text-last {
  margin-top: 6px;
  letter-spacing: -0.025em;
  position: relative;
}
@media screen and (min-width: 768px) {
  .about__text-last {
    margin-top: 20px;
  }
}
.about__text-last span {
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  position: relative;
}
@media screen and (min-width: 768px) {
  .about__text-last span {
    font-size: 20px;
  }
}
.about__text-last span::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 3px;
  border-bottom: 2px dashed #9ed0e0;
}

.about__button {
  margin-inline: auto;
  margin-top: 8px;
}
.about__button .button {
  padding: 4px 21px;
}
@media screen and (min-width: 768px) {
  .about__button {
    margin-top: 20px;
  }
}

.swiper-wrapper {
  /* スライドの動き等速 */
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.about__swiper {
  margin-top: 178px;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .about__swiper {
    margin-top: 259px;
  }
}

.about__slide {
  /* 画像のサイズ調整 */
}
.about__slide img {
  height: auto;
  width: 100%;
}

.record__slide-image {
  width: 100px;
  height: 100px;
}
@media screen and (min-width: 768px) {
  .record__slide-image {
    width: 200px;
    height: 200px;
  }
}

/*----------------------------------
    enter
-----------------------------------*/
.enter {
  background: #e9f6f8;
  padding-top: 120px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.enter__decoration-map {
  position: absolute;
  top: 100px;
  left: 0;
  width: 94px;
  height: 80px;
}

.enter__cat3 {
  position: absolute;
  top: 100px;
  right: 0;
  width: 149px;
  height: 223px;
}

.enter__cat4 {
  position: absolute;
  top: 120px;
  right: -50px;
  width: 94px;
  height: 80px;
}

.enter__decoration-pawpads {
  position: absolute;
  top: 300px;
  right: 0;
  width: 55px;
  height: 120px;
  /* 画像を反転する */
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
@media screen and (min-width: 768px) {
  .enter__decoration-pawpads {
    top: 100px;
    right: 160px;
    width: 100px;
    height: 220px;
  }
}

.enter__decoration-pawpads-opt {
  position: absolute;
  top: 690px;
  left: 10px;
  width: 54px;
  height: 120px;
  /* 画像を反転する */
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}
@media screen and (min-width: 768px) {
  .enter__decoration-pawpads-opt {
    top: 300px;
    right: 160px;
    width: 100px;
    height: 220px;
  }
}

.enter__decoration-pawpads-opt2 {
  position: absolute;
  top: 1050px;
  right: 15px;
  width: 54px;
  height: 120px;
  /* 画像を反転する */
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
}
@media screen and (min-width: 768px) {
  .enter__decoration-pawpads-opt2 {
    top: 300px;
    right: 160px;
    width: 100px;
    height: 220px;
  }
}

.enter__containaer {
  position: relative;
}

.enter__card-line1,
.enter__card-line2 {
  position: absolute;
  width: 34px;
  height: 7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.enter__card-line1 img,
.enter__card-line2 img {
  width: 100%;
}

.enter__card-line1 {
  top: 430px;
}

.enter__card-line2 {
  top: 856px;
}

.enter__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .enter__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-top: 40px;
  }
}

.enter__card {
  position: relative;
  color: #4a3636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .enter__card {
    width: 320px;
  }
}
.enter__card:nth-child(2) {
  margin-top: 34px;
}
@media screen and (min-width: 768px) {
  .enter__card:nth-child(2) {
    margin-top: 69px;
  }
}
.enter__card:nth-child(3) {
  margin-top: 34px;
}
@media screen and (min-width: 768px) {
  .enter__card:nth-child(3) {
    margin-top: 0;
  }
}

.enter__card-img {
  overflow: hidden;
  height: 210px;
  width: 196px;
}
.enter__card-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: 100%;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

@media screen and (min-width: 769px) {
  .p-card:hover > a > figure > img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
  }
}
.enter__card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.enter__card-title {
  font-weight: 700;
  text-align: center;
}

.enter__card-text {
  font-size: 12px;
  text-align: center;
}

.enter__card-button {
  text-align: center;
  padding: 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #ffffff;
}
.enter__card-button button {
  color: #4a3636;
  font-weight: 700;
}

.enter__button {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .enter__button {
    width: 357px;
  }
}
.enter__button button {
  padding: 6px 3px;
}
@media screen and (min-width: 768px) {
  .enter__button button {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
}

/*----------------------------------
    prize
-----------------------------------*/
.prize {
  background: #e9f6f8;
  padding-top: 120px;
  padding-bottom: 300px;
  position: relative;
}

.prize__bg-sq {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 24px;
  background: #ffffff;
  width: 375px;
  height: calc(100% - 50px);
  z-index: 0;
}

.prize__bg-path {
  position: absolute;
  top: 97px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.prize__inner {
  position: relative;
  z-index: 10;
}

.prize__heading {
  margin-top: 16px;
  font-size: 12px;
  color: #4a3636;
}

.prize__cards {
  margin-top: 40px;
}

.prize__card-2grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 7.5px;
     -moz-column-gap: 7.5px;
          column-gap: 7.5px;
  row-gap: 15px;
}

.prize__card-1grid {
  display: grid;
  place-content: center;
  margin-top: 15px;
}

.prize__card {
  position: relative;
  background: #f5f5f5;
  width: 160px;
  height: 196px;
  border-radius: 30px;
}
.prize__card::after {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(-45deg, #67b0c7 50%, transparent 50%);
  border-bottom-right-radius: 10px;
}

.prize__card-number {
  position: absolute;
  top: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 48px;
  height: 48px;
}

.prize__card-img {
  display: block;
  width: 160px;
  height: 140px;
  border-radius: 10px 10px 0px 0px;
}
.prize__card-img img {
  width: 100%;
}

.prize__card-title {
  text-align: center;
}
.prize__card-title span {
  color: #4a3636;
  display: block;
  font-size: 12px;
  font-weight: 700;
}

.prize__card-icon {
  position: absolute;
  bottom: 0;
  right: 6px;
  z-index: 99;
}

.prize_bg_photo {
  position: absolute;
  bottom: 0;
  left: 0;
}

.prize__button {
  z-index: 20;
}

/*----------------------------------
    spot
-----------------------------------*/
.spot {
  padding-top: 40px;
  padding-bottom: 64px;
  background: #67b0c7;
}

.spot__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.spot__head-img {
  width: 28px;
  height: 28px;
}
.spot__head-img img {
  width: 100%;
}

.spot__head-main {
  color: #ffffff;
  text-align: center;
  font-family: "Kiwi Maru", serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.25; /* 35px */
}

.spot__card {
  position: relative;
  color: #4a3636;
  background: #ffffff;
  border-radius: 12px;
  width: 240px;
  height: 402px;
}

.spot__card-img {
  top: 0;
  left: 0;
  overflow: hidden; /* 内容がはみ出さないようにする */
  width: 100%; /* カード全体の幅に合わせる */
}
.spot__card-img::after {
  content: "";
  display: block;
  padding-top: 75%; /* 16:9のアスペクト比に設定 (240px / 180px = 4 / 3 = 75%) */
}
.spot__card-img img {
  position: absolute; /* 絶対位置に設定 */
  top: 0;
  left: 0;
  height: auto;
  width: 100%; /* 親要素の幅に合わせる */
  -o-object-fit: cover;
     object-fit: cover; /* 画像の表示方法を設定 */
  border-radius: 12px 12px 0 0;
}

.spot__card-body {
  padding-inline: 24px;
}

.spot__card-title {
  margin-top: 16px;
  font-weight: 700;
  text-align: center;
}

.spot__card-text {
  margin-top: 16px;
  font-size: 12px;
}

.spot__swiper {
  margin-top: 24px;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .spot__swiper {
    margin-top: 80px;
  }
}

.spot__slide {
  /* 画像のサイズ調整 */
}

/*----------------------------------
    qa
-----------------------------------*/
.qa {
  padding-top: 40px;
  padding-bottom: 30px;
  background: #e9f6f8;
}

.qa__boxes {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.qa-box {
  border-radius: 12px;
  border: 3px solid #4a3636;
  background: #ffffff;
}
.qa-box.is-open .qa-box__head::after {
  background: url("/img/icon-qa_open.png") no-repeat center center/contain;
}

.qa-box__head {
  padding: 9px 37px 9px 13px;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.qa-box__head::after {
  content: "";
  position: absolute;
  top: 33%;
  right: 16px;
  width: 24.04px;
  height: 24.04px;
  background: url("/img/icon-qa_close.png") no-repeat center center/contain;
}

.qa-box__head-icon {
  font-family: "Josefin Sans", sans-serif;
  color: #9ed0e0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  display: grid;
  place-items: center;
}

.qa-box__head-text {
  display: block;
  text-align: left;
  color: #4a3636;
  font-weight: 700;
  line-height: 1.6;
  padding-left: 12px;
}

.qa-box__body {
  padding: 13px 14px 17px 12px;
  display: none;
  background: #f5f5f5;
  border-radius: 0 0 12px 12px;
}

.qa-box__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.qa-box__a-icon {
  display: grid;
  place-items: center;
  font-family: "Josefin Sans", sans-serif;
  color: #9ed0e0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
}

.qa-box__a-text {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 16px;
  color: #4a3636;
}

/*----------------------------------
    requirement
-----------------------------------*/
.requirement {
  background: #e9f6f8;
}

.requirement__contents {
  border: 8px solid #ffffff;
  background: rgba(255, 255, 255, 0.5);
  padding-inline: 16px;
}

.requirement__list {
  margin-block: 24px;
}

.requirement-list__item {
  margin-top: 12px;
  color: #4a3636;
  border-bottom: 1px solid #cccccc;
}
.requirement-list__item:last-child {
  border-bottom: none;
}
.requirement-list__item p {
  margin-top: 8px;
  margin-bottom: 16px;
}
.requirement-list__item::before {
  content: ""; /* カスタムのリストスタイルを設定 */
  background-color: #9ed0e0; /* 色を青に設定 */
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block; /* インラインブロックにして位置を調整 */
  margin-right: 8px;
}

.requirement-list__head {
  font-weight: 700;
}

.requirement-list__item-note {
  list-style-type: disc;
  margin-top: 8px;
  margin-left: 24px;
}

.requirement__bg {
  display: inline-block;
  margin-top: 24px;
}

/*----------------------------------
    contact
-----------------------------------*/
.contact {
  margin-block: 120px;
}

.contact__body {
  margin-top: 24px;
  color: #4a3636;
}

.contact__head {
  text-align: center;
}

.contact__contents {
  padding: 60px 20px;
}

.contact__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.contact__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
}

.form-field__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .form-field__head {
    width: 180px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.form-field__label {
  font-weight: 700;
  line-height: 1.4375;
}

.form-field__tag {
  display: inline-block;
  border-radius: 4px;
  background: #ce2073;
  padding: 4px 8px 4px 8px;
  color: #fff;
  font-size: 11px;
  line-height: 1;
  letter-spacing: 1.98px;
}

.form-field__item {
  margin-top: 14px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form-text {
  width: 100%;
  border-radius: 8px;
  background: #f5f5f5;
  border: none;
  padding: 12px 13px 11px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.form-text::-webkit-input-placeholder {
  color: #cccccc;
}
.form-text::-moz-placeholder {
  color: #cccccc;
}
.form-text:-ms-input-placeholder {
  color: #cccccc;
}
.form-text::-ms-input-placeholder {
  color: #cccccc;
}
.form-text::placeholder {
  color: #cccccc;
}
.form-text:hover, .form-text:focus {
  border-color: #e9f6f8;
  outline: none; /* デフォルトの青いラインを消す */
}

.form-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /*標準のアイコンを消す*/
  width: 100%;
  border-radius: 8px;
  background: #f5f5f5;
  border: none;
  padding: 12px 43px 11px 13px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.form-select:hover, .form-select:focus {
  border-color: #e9f6f8;
  outline: none; /* デフォルトの青いラインを消す */
}

.form-radio {
  line-height: 1.4375;
}
.form-radio:hover {
  /* hoverが当たるところ */
}
.form-radio:hover .form-radio__text::before {
  /*切り替わるところ*/
  border-color: #e9f6f8;
}

.form-radio__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form-radio__input::after {
  width: 52px;
  height: 55px;
  padding: 16px 1px 16px 0px;
  background: var(--LP-Blue, #9ed0e0);
}
.form-radio__input:checked + .form-radio__text::after {
  opacity: 1;
}
.form-radio__input:focus + .form-radio__text::before {
  /*切り替わるところ*/
  border-color: #e9f6f8;
}

.form-radio__text {
  padding-left: 28px;
  position: relative;
}
.form-radio__text::before, .form-radio__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}
.form-radio__text::before {
  width: 24px;
  height: 24px;
  background: #f5f5f5;
  border: none;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s; /*hover時 ○はbeforeで作成されているのでここ*/
}
.form-radio__text::after {
  width: 10px;
  height: 10px;
  background: #9ed0e0;
  left: 7px;
  opacity: 0;
}

.form-textarea {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  background: #f5f5f5;
  border: none;
  padding: 13px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.form-textarea::-webkit-input-placeholder {
  color: #cccccc;
}
.form-textarea::-moz-placeholder {
  color: #cccccc;
}
.form-textarea:-ms-input-placeholder {
  color: #cccccc;
}
.form-textarea::-ms-input-placeholder {
  color: #cccccc;
}
.form-textarea::placeholder {
  color: #cccccc;
}
.form-textarea:hover, .form-textarea:focus {
  border-color: #e9f6f8;
  outline: none; /* デフォルトの青いラインを消す */
}

.contact__privacy {
  margin-top: 28px;
  text-align: center;
}

.form-checkbox:hover .form-checkbox__text::before {
  border-color: #e9f6f8;
}

.form-checkbox__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form-checkbox__input:checked + .form-checkbox__text::after {
  opacity: 1;
}
.form-checkbox__input:focus + .form-checkbox__text::before {
  border-color: #e9f6f8;
}

.form-checkbox__text {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 170%; /* 23.8px */
}
.form-checkbox__text a {
  text-decoration-line: underline;
  font-weight: inherit;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.form-checkbox__text a:hover {
  color: #e9f6f8;
}
.form-checkbox__text::before, .form-checkbox__text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}
.form-checkbox__text::before {
  width: 20px;
  height: 20px;
  border-radius: 1px;
  border: 1px solid #111;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.form-checkbox__text::after {
  width: 23px;
  height: 17.53px;
  left: -1px;
  margin-top: -1.2px;
  background: url(../../img/check-icon.png) no-repeat center center/contain;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .form-checkbox__text::after {
    margin-top: 2px;
  }
}

.contact__button {
  text-align: center;
  margin-top: 24px;
  margin-inline: auto;
}

/*----------------------------------
    footer
-----------------------------------*/
.footer {
  padding-top: 40px;
  background: #e9f6f8;
  position: relative;
}

.footer__sns-head {
  text-align: center;
}

.footer__sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__decoration-onomichi {
  position: absolute;
  top: 130px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 100%;
  height: auto;
}

.footer__info {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 16px;
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.footer__ifram-map {
  text-align: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer__ifram-map {
    margin-top: 0px;
    top: 0;
    left: 0;
    width: 512px;
  }
}
.footer__ifram-map iframe {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 100%;
  height: auto;
  aspect-ratio: 512/400;
  vertical-align: top;
}
@media screen and (min-width: 768px) {
  .footer__ifram-map iframe {
    aspect-ratio: 512/400;
  }
}

.footer__info-body {
  margin-top: 300px;
}
@media screen and (min-width: 768px) {
  .footer__info-body {
    margin-top: 24px;
  }
}

.footer__info-logo {
  width: 153px;
  height: 20px;
  margin-inline: auto;
}
.footer__info-logo img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__info-logo {
    margin-inline: 0;
    text-align: left;
  }
}

.footer__info-list {
  margin-top: 24px;
}

.footer-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; /* 行が長くなった場合に折り返し */
  padding-inline: 24px;
  padding-bottom: 24px;
  color: #4a3636;
  font-size: 12px;
  line-height: 1.6; /* 19.2px */
}
.footer-table dt,
.footer-table dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* 中央揃え */
  padding-bottom: 10px;
}
.footer-table dt {
  width: 25%; /* 用語の幅 */
  font-weight: 700;
}
.footer-table dt::before {
  content: ""; /* カスタムのリストスタイルを設定 */
  background-color: #9ed0e0; /* 色を青に設定 */
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block; /* インラインブロックにして位置を調整 */
  margin-right: 8px;
}
.footer-table dd {
  width: 75%; /* 定義の幅 */
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer-table {
    font-size: 16px;
  }
}

.footer__pagetop {
  width: 75px;
  height: 78px;
  margin-block: 24px;
  margin-inline: auto;
}
.footer__pagetop img {
  max-width: 100%;
}

.copyright {
  display: block;
  height: 41px;
  width: 100%;
  padding-bottom: 24px;
  background: #67b0c7;
  color: #ffffff;
  font-size: 10px;
  line-height: 1.6; /* 16px */
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}