@charset "UTF-8";
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

input,
select,
textarea {
  font: inherit;
  color: inherit;
  vertical-align: top;
}

/* =====================================================
  「設定」ファイル 
  サイト共通で必要になる設定値を変数で定義しておくファイルです。
  ===================================================== */
/*モノクロ：タイポグラフィ*/
/*モノクロ*/
/*カラー*/
/*アクセント*/
/* =====================================================
  メディアクエリ用のmixinを定義

  // //使用例
// .header {
//   height: 100px; //ＰＣ用の表示

//   @include mq(sp) {
//     height: 60px; //スマホの時だけ高さを60pxに！
//   }
// }

このように @media screen and (width: 767px) { } を書かなくても、
PC用のcssを書きながらスマホ用の表示を書き足すことができます！
===================================================== */
/*----------------------------------
    共通
-----------------------------------*/
.body {
  font-family: "Noto Sans JP", serif;
  font-size: 12px;
  line-height: 1.6;
  color: #4a3636;
  background: #ffffff;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .body {
    font-size: 16px;
  }
}

.img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .pc-hidden {
    display: none;
  }
}

@media not screen and (min-width: 768px) {
  .sp-hidden {
    display: none;
  }
}

.button {
  display: inline-block;
  color: #4a3636;
  font-weight: 700;
  line-height: 1.6;
  border-radius: 40px;
  border: 2px solid #4a3636;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 0px 0px #4a3636;
          box-shadow: 0px 4px 0px 0px #4a3636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 22px 6px 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .button {
    width: 132px;
    padding: 6px 16px 6px 16px;
  }
}
.button:hover {
  background: #ffee56;
}

@media screen and (min-width: 768px) {
  .button-lg {
    width: 256px;
    height: 54px;
    padding: 10px 40px 12px 40px;
    font-size: 20px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .header {
    height: 64px;
  }
}

.header__inner {
  padding-inline: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-inline: 24px;
  }
}

.header__logo {
  padding-block: 18.5px;
}
.header__logo a img {
  width: 210px;
  display: block;
}
@media screen and (min-width: 768px) {
  .header__logo a img {
    width: 183px;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 17px;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.header__link {
  font-size: 12px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; /* hoverする前のクラスにつける*/
  /* ホバー */
}
.header__link:hover {
  color: #67b0c7;
}

.drawer-icon {
  position: relative;
  width: 32px;
  height: 27px;
  z-index: 51;
}
@media screen and (min-width: 768px) {
  .drawer-icon {
    display: none;
  }
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
  top: 10px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(3) {
  top: 10px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 3px;
  border-radius: 6px;
  background: #4a3636;
  -webkit-transition: top 0.3x linear, -webkit-transform 0.3s linear;
  transition: top 0.3x linear, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, top 0.3x linear;
  transition: transform 0.3s linear, top 0.3x linear, -webkit-transform 0.3s linear;
}
.drawer-icon__bar .drawer-icon__dot {
  position: absolute;
  width: 4.8px;
  height: 3px;
  top: 0;
  left: 27.2px;
  border-radius: 6px;
  background: #4a3636;
}
.drawer-icon__bar:nth-of-type(1) {
  width: 25.6px;
}
.drawer-icon__bar:nth-of-type(2) {
  top: 12px;
}
.drawer-icon__bar:nth-of-type(3) {
  top: 24px;
}

.drawer-content {
  width: 375px;
  height: 100%;
  position: fixed;
  top: 64px;
  right: 0;
  background: #ffffff;
  z-index: 50;
  padding-inline: 114px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.drawer-content.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  padding-block: 20px;
  font-size: 14px;
  line-height: 1.6; /* 22.4px */
}

.drawer-contact__button {
  margin-top: 16px;
  text-align: center;
}

/*----------------------------------
    fv
-----------------------------------*/
.fv {
  background: #e9f6f8;
  margin-top: 64px;
  height: 554px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .fv {
    height: 740px;
  }
}

.fv__bg-image {
  position: absolute;
  top: 0;
  left: 0;
}

.fv__head {
  position: relative;
}

.fv__head-sub {
  text-align: center;
  text-shadow: 0px 0px 30px #ffffff;
  font-family: "Kiwi Maru", serif;
  color: #4a3636;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25; /* 17.5px */
  padding-top: 17px;
}
@media screen and (min-width: 768px) {
  .fv__head-sub {
    font-size: 24px;
    font-weight: 500;
    padding-top: 35px;
  }
}

.fv__title1 {
  position: absolute;
  top: 74px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 335px;
  height: 53px;
}
@media screen and (min-width: 768px) {
  .fv__title1 {
    top: 118px;
    width: 520px;
    height: 82px;
  }
}
.fv__title2 {
  position: absolute;
  top: 139px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 240px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .fv__title2 {
    top: 215px;
    width: 356px;
    height: 60px;
  }
}
.fv__image-items {
  position: relative;
}

.fv__fukidashi {
  position: absolute;
  top: 143px;
  left: 21%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 142px;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .fv__fukidashi {
    top: 180px;
    left: 32.6%;
    width: 244px;
    height: 130px;
  }
}

.fv__present {
  position: absolute;
  top: 136px;
  left: 76%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 110px;
  height: 110px;
}
@media screen and (min-width: 768px) {
  .fv__present {
    top: 197px;
    left: 63.8%;
    width: 180px;
    height: 180px;
  }
}

.fv__smartphone-image {
  position: absolute;
  top: 240px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  width: 200px;
  height: 408px;
}
@media screen and (min-width: 768px) {
  .fv__smartphone-image {
    top: 213px;
    width: 250px;
    height: 510px;
  }
}

.fv__food {
  position: absolute;
  top: 523px;
  left: 13%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 86px;
  height: 141px;
  z-index: 11;
}
@media screen and (min-width: 768px) {
  .fv__food {
    top: 423px;
    left: 29%;
    width: 202px;
    height: 332px;
  }
}

.fv__cat1 {
  position: absolute;
  top: 585px;
  left: 83%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 98px;
  height: 72px;
  z-index: 13;
}
@media screen and (min-width: 768px) {
  .fv__cat1 {
    top: 615px;
    left: 70.5%;
    width: 233px;
    height: 174px;
  }
}

.fv__cat2 {
  position: absolute;
  top: 530px;
  left: 91%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 62px;
  height: 69px;
  z-index: 12;
}
@media screen and (min-width: 768px) {
  .fv__cat2 {
    top: 490px;
    left: 68.5%;
    width: 170px;
    height: 190px;
  }
}

/*----------------------------------
    about
-----------------------------------*/
.about {
  background: #e9f6f8;
  padding-top: 189px;
  padding-bottom: 0px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 176px;
  }
}

.inner {
  padding-inline: 20px;
}
@media screen and (min-width: 768px) {
  .inner {
    padding-inline: 40px;
  }
}

.about__decoration-bgl {
  position: absolute;
  top: 583px;
  left: -129px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  z-index: 24;
  /* デバッグ用に境界線を追加 */
}
.about__decoration-bgl img {
  width: 100%; /* 画像の幅を親要素に合わせる */
  height: 100%; /* 画像の高さを親要素に合わせる */
  -o-object-fit: cover;
     object-fit: cover; /* 画像のアスペクト比を維持しながら要素を覆う */
}
@media screen and (min-width: 768px) {
  .about__decoration-bgl {
    top: 250px;
    left: -338px;
    width: 480px;
    height: 480px;
  }
}

.about__decoration-bgr {
  position: absolute;
  top: 462px;
  right: -140px;
  width: 200px;
  height: 200px;
  z-index: 25;
  /* デバッグ用に境界線を追加 */
}
.about__decoration-bgr img {
  width: 100%; /* 画像の幅を親要素に合わせる */
  height: 100%; /* 画像の高さを親要素に合わせる */
  -o-object-fit: cover;
     object-fit: cover; /* 画像のアスペクト比を維持しながら要素を覆う */
}
@media screen and (min-width: 768px) {
  .about__decoration-bgr {
    top: 250px;
    right: -284px;
    width: 480px;
    height: 480px;
  }
}

.about__decoration-square {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__decoration-square {
    z-index: 21;
    position: absolute;
    top: 156px;
    left: -20px;
    display: block;
    width: 250px;
    height: 250px;
  }
}

.about__decoration-pawpads {
  position: absolute;
  top: 178px;
  right: 0;
  width: 54px;
  height: 120px;
}
@media screen and (min-width: 768px) {
  .about__decoration-pawpads {
    top: 100px;
    right: 160px;
    width: 100px;
    height: 220px;
  }
}

.about__decoration-goods {
  position: absolute;
  top: 950px;
  left: 185px;
  width: 133px;
  height: 65.003px;
}
@media screen and (min-width: 768px) {
  .about__decoration-goods {
    width: 308px;
    height: 150.604px;
    right: 120px;
  }
}

.about__decoration-stone {
  position: absolute;
  top: 908px;
  right: 20px;
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 768px) {
  .about__decoration-stone {
    width: 101px;
    height: 100.047px;
    top: 800px;
    right: 20px;
  }
}

.about__decoration-wave {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__decoration-wave {
    z-index: 21;
    position: absolute;
    top: 700px;
    right: 0px;
    display: block;
    width: 807px;
    height: 12px;
  }
}

.about__decoration-wave2 {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__decoration-wave2 {
    z-index: 21;
    position: absolute;
    top: 750px;
    right: -50px;
    display: block;
  }
}

.about__decoration-slope {
  position: absolute;
  top: 748px;
  left: -56px;
  width: 216px;
  height: 433px;
  z-index: 23;
}
@media screen and (min-width: 768px) {
  .about__decoration-slope {
    width: 427px;
    height: 817px;
    top: 498px;
    left: -103px;
  }
}

.about__decoration-onomichi {
  position: absolute;
  top: 1035px;
  left: 12px;
  width: 354.642px;
  height: 37.2px;
}
@media screen and (min-width: 768px) {
  .about__decoration-onomichi {
    width: 891px;
    height: 97px;
    top: 1172px;
    left: 49.8%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.about__contents {
  border-radius: 24px;
  background: #ffffff;
  padding: 30px 12px 40px;
  position: relative;
  z-index: 30;
}
@media screen and (min-width: 768px) {
  .about__contents {
    margin-inline: auto;
    max-width: 848px;
    border-radius: 40px;
    padding: 40px 12px 40px;
  }
}
.about__contents::before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -36px;
  width: 100px;
  height: 36px;
  background-color: #cce1e4;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: "";
}
@media screen and (min-width: 768px) {
  .about__contents::before {
    width: 140px;
    bottom: -50px;
    height: 50px;
  }
}

.about__image1 {
  position: absolute;
  top: 4%;
  left: 10%;
  width: 80px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .about__image1 {
    width: 134px;
    height: 100px;
  }
}

.about__image2 {
  position: absolute;
  top: 4%;
  left: 70%;
  width: 80px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .about__image2 {
    width: 134px;
    height: 100px;
  }
}

.title {
  color: #4a3636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .title {
    gap: 8px;
  }
}

.title-image {
  width: 48px;
  height: 48px;
}
.title-image img {
  max-width: 100%;
}

.title-sub {
  text-align: center;
  font-family: "Courgette", cursive;
  line-height: 1.25; /* 20px */
}
@media screen and (min-width: 768px) {
  .title-sub {
    font-size: 20px;
  }
}

.title-main {
  text-align: center;
  font-family: "Kiwi Maru", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25; /* 25px */
}
@media screen and (min-width: 768px) {
  .title-main {
    font-size: 32px;
  }
}
.title-main span {
  display: inline-block;
  position: relative;
}
.title-main span::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #ffee56;
}
@media screen and (min-width: 768px) {
  .title-main span::before {
    bottom: -15px;
  }
}

.about__body {
  text-align: center;
  color: #4a3636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin-top: 37px;
}
@media screen and (min-width: 768px) {
  .about__body {
    margin-top: 50px;
  }
}

.about__heading {
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about__heading {
    font-size: 16px;
  }
}

.about__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18.5px;
}
@media screen and (min-width: 768px) {
  .about__text-container {
    margin-top: 10px;
    gap: 27.6px;
  }
}

.about__text {
  font-size: 12px;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 16px;
    line-height: 1.6;
  }
}

.about__text-last {
  margin-top: 6px;
  letter-spacing: -0.025em;
  position: relative;
}
@media screen and (min-width: 768px) {
  .about__text-last {
    margin-top: 20px;
  }
}
.about__text-last span {
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  position: relative;
}
@media screen and (min-width: 768px) {
  .about__text-last span {
    font-size: 20px;
  }
}
.about__text-last span::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 3px;
  border-bottom: 2px dashed #9ed0e0;
}

.about__button {
  margin-inline: auto;
  margin-top: 8px;
}
.about__button .button {
  padding: 4px 21px;
}
@media screen and (min-width: 768px) {
  .about__button {
    margin-top: 20px;
  }
}

.underline {
  text-decoration-line: underline;
}

.bold {
  font-weight: 700;
}

.about__swiper {
  margin-top: 178px;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  .about__swiper {
    margin-top: 259px;
  }
}

.swiper-wrapper {
  /* スライドの動き等速 */
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.about__slide {
  /* 画像のサイズ調整 */
}
.about__slide img {
  height: auto;
  width: 100%;
}

.record__slide-image {
  width: 100px;
  height: 100px;
}
@media screen and (min-width: 768px) {
  .record__slide-image {
    width: 200px;
    height: 200px;
  }
}

/*----------------------------------
    enter
-----------------------------------*/
.enter {
  background: #e9f6f8;
  padding-top: 120px;
  padding-bottom: 20px;
  position: relative;
}