/*モノクロ：タイポグラフィ*/
$brown: #4a3636;
$white: #ffffff;

/*モノクロ*/
$d-gray: #cccccc;
$gray: #f5f5f5;

/*カラー*/
$blue: #9ed0e0;
$d-blue: #67b0c7;
$b-gray: #cce1e4;
$l-blue: #e9f6f8;

/*アクセント*/
$red: #ce2073;
$yellow: #ffee56;
