@charset "utf-8";
/* =====================================================
  「設定」ファイル 
  サイト共通で必要になる設定値を変数で定義しておくファイルです。
  ===================================================== */
$font-family-jp1: "Noto Sans JP", sans-serif;
$font-family-jp2: "Kiwi Maru", serif;
$font-family-en1: "Courgette", cursive;
$font-family-en2: "Josefin Sans", sans-serif;

$width-inner-pc: 1024px;
$width-inner-sp: 335px;

$font-size-base-pc: 16px;
$font-size-base-sp: 12px;

$line-height-base: 1.6;

$header-height-pc: 64px;
$header-height-sp: 64px;
$paddingSide-pc: 40px;
$paddingSide-sp: 20px;
$navGap: 17px;
$listGap: 12px;
