@use "../setting/config";
@use "../setting/color";
@use "../mixin/mixin";

/*----------------------------------
    共通
-----------------------------------*/
body {
  font-family: config.$font-family-jp1;
  font-size: config.$font-size-base-sp;
  line-height: config.$line-height-base;
  color: color.$brown;
  background: color.$l-blue;
  font-weight: 400;
  @include mixin.mq(pc) {
    font-size: config.$font-size-base-pc;
  }
}

.inner {
  max-width: calc(config.$width-inner-sp + config.$paddingSide-sp * 2);
  margin-inline: auto;
  padding-inline: config.$paddingSide-sp;
  @include mixin.mq(pc) {
    max-width: calc(config.$width-inner-pc + config.$paddingSide-pc * 2);
    padding-inline: config.$paddingSide-pc;
  }
}

.img {
  max-width: 100%;
}

.pc-hidden {
  @include mixin.mq(pc) {
    display: none;
  }
}

.sp-hidden {
  @include mixin.mq(sp) {
    display: none;
  }
}

.underline {
  text-decoration-line: underline;
}

.bold {
  font-weight: 700;
}

//sm md lg

.button {
  display: inline-block;
  color: color.$brown;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  border-radius: 40px;
  border: 2px solid color.$brown;
  background: color.$white;
  box-shadow: 0px 4px 0px 0px #4a3636;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap; /* 文字を改行させない */
  width: auto;
  height: calc(26px + 6px + 8px - 2px * 2);
  padding: 8px 24px 8px;

  @include mixin.mq(pc) {
    font-size: 20px;
    border: 3px solid color.$brown;
    padding: 20px 40px 24px;
  }

  &:hover {
    background: color.$yellow;
  }
}

.button-xsm {
  height: calc(-2px * 2 + 6px + 8px + 18px);
  font-size: 14px;
  @include mixin.mq(pc) {
    height: calc(26px + 6px + 8px - 2px * 2 + 2px);
    padding: 6px 40px 8px;
    font-size: 14px;
  }
}

.button-sm {
  height: calc(-2px * 2 + 6px + 8px + 18px + 10px);
  font-size: 16px;
  @include mixin.mq(pc) {
    height: calc(26px + 6px + 8px - 2px * 2 + 2px);
    padding: 6px 22px 8px;
    font-size: 14px;
  }
}

.button-lg {
  // height: calc(-3px * 2 + 10px * 2 + 56px);
  // font-size: 20px;
  // @include mixin.mq(pc) {
  //   height: calc(-3px * 2 + 56px);
  //   // width: calc(-3px * 2 + 40px * 2 + 182px);

  //   // padding: 4px 36px;
  // }
}

.title {
  color: color.$brown;
  font-size: 16px;
  text-align: center;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // gap: 4px;
  position: relative;
  padding-top: 30px;
  @include mixin.mq(pc) {
    // gap: 8px;
    padding-top: 45px;
  }
}

.title-eng {
  text-align: center;
  font-family: config.$font-family-en1;
  line-height: 1.25; /* 20px */
  // padding-top: 6px;
  margin-top: 14px;
  @include mixin.mq(pc) {
    font-size: 20px;
  }
}

.title-main {
  text-align: center;
  font-family: config.$font-family-jp2;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25; /* 25px */
  margin-top: 7px;
  @include mixin.mq(pc) {
    font-size: 32px;
  }

  span {
    display: inline-block;
    position: relative;
    // padding: 0 0.4em 0.2em;
    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 6px;
      background-color: #ffee56;
      @include mixin.mq(pc) {
        bottom: -15px;
      }
    }
  }
}
