@use "../setting/config";
@use "../setting/color";
@use "../mixin/mixin";

/*----------------------------------
    共通
-----------------------------------*/

.body {
  font-family: config.$font-family-jp1;
  font-size: config.$font-size-base-sp;
  line-height: config.$line-height-base;
  color: color.$brown;
  background: color.$white;
  font-weight: 400;
  @include mixin.mq(pc) {
    font-size: config.$font-size-base-pc;
  }
}

.img {
  max-width: 100%;
}

.pc-hidden {
  @include mixin.mq(pc) {
    display: none;
  }
}

.sp-hidden {
  @include mixin.mq(sp) {
    display: none;
  }
}

//sm md lg

.button {
  display: inline-block;
  color: color.$brown;
  font-weight: 700;
  line-height: 1.6;
  border-radius: 40px;
  border: 2px solid color.$brown;
  background: color.$white;
  box-shadow: 0px 4px 0px 0px #4a3636;
  display: flex;
  padding: 6px 22px 6px 22px;
  justify-content: center;
  align-items: center;
  @include mixin.mq(pc) {
    width: 132px;
    padding: 6px 16px 6px 16px;
  }

  &:hover {
    background: color.$yellow;
  }
}

.button-lg {
  @include mixin.mq(pc) {
    width: calc(-3px * 2 + 40px * 2 + 182px);
    height: calc(-3px * 2 + 10px * 2 + 40px);
    padding: 10px 40px 12px 40px;
    font-size: 20px;
  }
}
