@use "../setting/config";
@use "../setting/color";
@use "../mixin/mixin";
@use "../module/common";

/*----------------------------------
    fv
-----------------------------------*/
.fv {
  background: color.$l-blue;
  margin-top: config.$header-height-sp;
  // background: url("../../img/fv-bg_sp.png") no-repeat center center / contain;
  height: 554px;
  position: relative;
  @include mixin.mq(pc) {
    // background: url("../../img/fv-bg_pc.png") no-repeat center center / contain;
    height: 740px;
  }
}

.fv__bg-image {
  position: absolute;
  top: 0;
  left: 0;
}

.fv__head {
  position: relative;
}
.fv__head-sub {
  text-align: center;
  text-shadow: 0px 0px 30px color.$white;
  font-family: config.$font-family-jp2;
  color: color.$brown;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25; /* 17.5px */
  padding-top: 17px;
  @include mixin.mq(pc) {
    font-size: 24px;
    font-weight: 500;
    padding-top: 35px;
  }
}

.fv__title1 {
  position: absolute;
  top: calc(config.$header-height-sp + 10px);
  left: 50%;
  transform: translateX(-50%);
  width: 335px;
  height: 53px;
  @include mixin.mq(pc) {
    top: calc(config.$header-height-pc + 54px);
    width: 520px;
    height: 82px;
  }
  img {
  }
}

.fv__title2 {
  position: absolute;
  top: calc(config.$header-height-sp + 10px + 53px + 12px);
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: 40px;
  @include mixin.mq(pc) {
    // top: calc(config.$header-height-pc + 54px + 52px + 16px);
    top: 215px;
    width: 356px;
    height: 60px;
  }
  img {
  }
}

.fv__image-items {
  position: relative;
}

.fv__fukidashi {
  position: absolute;
  top: calc(config.$header-height-sp + 79px); //143px
  left: 21%;
  transform: translateX(-50%);
  width: 142px;
  height: 80px;
  @include mixin.mq(pc) {
    top: 180px;
    left: 32.6%;
    width: 244px;
    height: 130px;
  }
}

.fv__present {
  position: absolute;
  top: calc(config.$header-height-sp + 72px); //136px
  left: 76%;
  transform: translateX(-50%);
  width: 110px;
  height: 110px;
  @include mixin.mq(pc) {
    top: 197px;
    left: 63.8%;
    width: 180px;
    height: 180px;
  }
}

.fv__smartphone-image {
  position: absolute;
  //   top: calc(config.$header-height-sp + 73px + 53px + 13px);
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 200px;
  height: 408px;
  @include mixin.mq(pc) {
    top: 213px;
    width: 250px;
    height: 510px;
  }
}

.fv__food {
  position: absolute;
  top: 523px;
  left: 12%;
  transform: translateX(-50%);
  width: 86px;
  height: 141px;
  z-index: 11;
  @include mixin.mq(pc) {
    top: 423px;
    left: 29%;
    width: 202px;
    height: 332px;
  }
}

.fv__cat1 {
  position: absolute;
  top: 585px;
  left: 83%;
  transform: translateX(-50%);
  width: 98px;
  height: 72px;
  z-index: 13;
  @include mixin.mq(pc) {
    top: 615px;
    left: 70.5%;
    width: 233px;
    height: 174px;
  }
}

.fv__cat2 {
  position: absolute;
  top: 530px;
  left: 91%;
  transform: translateX(-50%);
  width: 62px;
  height: 69px;
  z-index: 12;
  @include mixin.mq(pc) {
    top: 490px;
    left: 68.5%;
    width: 170px;
    height: 190px;
  }
}

/*----------------------------------
    about
-----------------------------------*/

.about {
  background: color.$l-blue;
  padding-top: 189px;
  padding-bottom: 0px;
  position: relative;
  overflow: hidden; //親要素に
  @include mixin.mq(pc) {
    padding-top: 176px;
  }
}

.about__decoration {
}

.about__decoration-bgl {
  position: absolute;
  top: 583px;
  left: -129px;
  width: 200px;
  height: 200px;
  overflow: hidden;

  z-index: 24;
  /* デバッグ用に境界線を追加 */
  // border: 1px solid red;
  img {
    width: 100%; /* 画像の幅を親要素に合わせる */
    height: 100%; /* 画像の高さを親要素に合わせる */
    object-fit: cover; /* 画像のアスペクト比を維持しながら要素を覆う */
  }

  @include mixin.mq(pc) {
    top: 250px;
    left: -338px;
    width: 480px;
    height: 480px;
  }
}

.about__decoration-bgr {
  position: absolute;
  top: 462px;
  right: -140px;
  // left: 250px;
  width: 200px;
  height: 200px;

  // overflow-x: clip;
  z-index: 25;
  img {
    width: 100%; /* 画像の幅を親要素に合わせる */
    height: 100%; /* 画像の高さを親要素に合わせる */
    object-fit: cover; /* 画像のアスペクト比を維持しながら要素を覆う */
  }

  /* デバッグ用に境界線を追加 */
  // border: 1px solid red;

  @include mixin.mq(pc) {
    top: 250px;
    right: -284px;
    width: 480px;
    height: 480px;
  }
}
.about__decoration-square {
  display: none;
  @include mixin.mq(pc) {
    z-index: 21;
    position: absolute;
    top: 156px;
    left: -20px;
    display: block;
    width: 250px;
    height: 250px;
  }
}

.about__decoration-pawpads {
  position: absolute;
  top: 178px;
  //   left: 600px;
  right: 0;
  width: 54px;
  height: 120px;
  @include mixin.mq(pc) {
    top: 100px;
    //   left: 600px;
    right: 160px;
    width: 100px;
    height: 220px;
  }
}

.about__decoration-goods {
  position: absolute;
  top: 950px;
  left: 185px;
  width: 133px;
  height: 65.003px;
  @include mixin.mq(pc) {
    width: 308px;
    height: 150.604px;
    // top: 900px;
    right: 120px;
  }
}
.about__decoration-stone {
  position: absolute;
  top: 908px;
  right: 20px;
  width: 48px;
  height: 48px;
  @include mixin.mq(pc) {
    width: 101px;
    height: 100.047px;
    top: 800px;
    right: 20px;
  }
}

.about__decoration-wave {
  display: none;
  @include mixin.mq(pc) {
    z-index: 21;
    position: absolute;
    top: 700px;
    right: 0px;
    display: block;
    width: 807px;
    height: 12px;
  }
}

.about__decoration-wave2 {
  display: none;
  @include mixin.mq(pc) {
    z-index: 21;
    position: absolute;
    top: 750px;
    right: -50px;
    display: block;
  }
}

.about__decoration-slope {
  position: absolute;
  top: 748px;
  left: -56px;
  width: 216px;
  height: 433px;
  z-index: 23;
  @include mixin.mq(pc) {
    width: 427px;
    height: 817px;
    top: 498px;
    left: -103px;
  }
}

.about__decoration-onomichi {
  position: absolute;
  top: 1035px;
  left: 12px;
  width: 354.642px;
  height: 37.2px;
  @include mixin.mq(pc) {
    width: 891px;
    height: 97px;
    top: 1172px;
    left: 49.8%;
    transform: translateX(-50%);
  }
}

.about__contents {
  border-radius: 24px;
  background: color.$white;
  padding: 30px 12px 40px;
  position: relative;
  z-index: 30;
  @include mixin.mq(pc) {
    margin-inline: auto;
    max-width: calc(620px + 114px * 2);
    border-radius: 40px;
    padding: 40px 12px 40px;
  }
  &::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -36px;
    width: 100px;
    height: 36px;
    background-color: color.$b-gray;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: "";
    @include mixin.mq(pc) {
      width: 140px;
      bottom: -50px;
      height: 50px;
    }
  }
}

.about__image1 {
  position: absolute;
  top: 4%;
  left: 10%;
  width: 80px;
  height: 60px;
  @include mixin.mq(pc) {
    width: 134px;
    height: 100px;
  }
}
.about__image2 {
  position: absolute;
  top: 4%;
  left: 70%;
  width: 80px;
  height: 60px;
  @include mixin.mq(pc) {
    width: 134px;
    height: 100px;
  }
}

.title {
  color: color.$brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  padding-top: 10px;
  @include mixin.mq(pc) {
    gap: 8px;
  }
}

// .title-image {
//   width: 40px;
//   height: 40px;
//   display: block;
//   img {
//     max-width: 100%;
//   }
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);
// }

.title-sub {
  text-align: center;
  font-family: config.$font-family-en1;
  line-height: 1.25; /* 20px */
  @include mixin.mq(pc) {
    font-size: 20px;
  }
}

.title-main {
  text-align: center;
  font-family: config.$font-family-jp2;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25; /* 25px */
  @include mixin.mq(pc) {
    font-size: 32px;
  }

  span {
    display: inline-block;
    position: relative;
    // padding: 0 0.4em 0.2em;
    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 6px;
      background-color: #ffee56;
      @include mixin.mq(pc) {
        bottom: -15px;
      }
    }
  }
}

.about__title {
  &::before {
    content: "";
    // position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: url("../../img/icon_about.svg");
    z-index: 10;
  }
}

.about__body {
  text-align: center;
  color: color.$brown;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 37px;
  @include mixin.mq(pc) {
    margin-top: 50px;
  }
}

.about__heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
  @include mixin.mq(pc) {
    font-size: 16px;
    // letter-spacing:0.03em;
  }
}
.about__text-container {
  display: flex;
  flex-direction: column;
  gap: 18.5px;
  @include mixin.mq(pc) {
    margin-top: 10px;
    gap: 27.6px;
  }
}

.about__text {
  font-size: 12px;
  line-height: 1.6;
  @include mixin.mq(pc) {
    font-size: 16px;
    line-height: 1.6;
  }
}

.about__text-last {
  margin-top: 6px;
  letter-spacing: -0.025em;
  position: relative;
  @include mixin.mq(pc) {
    margin-top: 20px;
  }
  span {
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    @include mixin.mq(pc) {
      font-size: 20px;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 3px;
      border-bottom: 2px dashed color.$blue;
    }
  }
}

.about__button {
  margin-inline: auto;
  margin-top: 6px;
  .button {
    padding: calc(7px - 3px) calc(24px - 3px);
  }
  @include mixin.mq(pc) {
    margin-top: 20px;
  }
}

//swiper
.swiper {
}

.swiper-wrapper {
  /* スライドの動き等速 */
  transition-timing-function: linear;
}

.swiper-slide {
}

.about__slide {
  margin-top: 88px;
}
.about__swiper {
  // margin-top: 178px;
  z-index: 99;
  @include mixin.mq(pc) {
    // height: auto;
    margin-top: 259px;
  }
}

.about__slide {
  /* 画像のサイズ調整 */
  img {
    height: auto;
    width: 100%;
  }
}

.record__slide-image {
  width: 100px;
  height: 100px;
  @include mixin.mq(pc) {
    width: 200px;
    height: 200px;
  }
}

/*----------------------------------
    enter
-----------------------------------*/

.enter {
  background: color.$l-blue;
  padding-top: 56px;
  padding-bottom: 37px;
  position: relative;
  overflow: hidden; //親要素に
}
.enter__decoration-map {
  position: absolute;
  top: 66px;
  left: 0px;
  width: 149px;
  height: 223px;
}

.enter__cat3 {
  position: absolute;
  top: 66px;
  right: 24px;
  width: 105px;
  height: 63px;
  @include mixin.mq(pc) {
    width: 149px;
    height: 223px;
  }
}

.enter__cat4 {
  position: absolute;
  top: 70px;
  right: -30px;
  width: 94px;
  height: 80px;
}

.enter__decoration-pawpads {
  position: absolute;
  top: 140px;
  //   left: 600px;
  right: 20px;
  width: 55px;
  height: 120px;
  /* 画像を反転する */
  transform: scale(-1, 1);
  @include mixin.mq(pc) {
    top: 100px;
    //   left: 600px;
    right: 160px;
    width: 100px;
    height: 220px;
  }
}

.enter__decoration-pawpads-opt {
  position: absolute;
  top: 690px;
  left: 10px;
  // right: 0;
  width: 54px;
  height: 120px;
  /* 画像を反転する */
  transform: scale(1, -1);
  @include mixin.mq(pc) {
    top: 300px;
    //   left: 600px;
    right: 160px;
    width: 100px;
    height: 220px;
  }
}

.enter__decoration-pawpads-opt2 {
  position: absolute;
  top: 1050px;
  // left: 10px;
  right: 15px;
  width: 54px;
  height: 120px;
  /* 画像を反転する */
  transform: scale(-1, -1);
  @include mixin.mq(pc) {
    top: 300px;
    //   left: 600px;
    right: 160px;
    width: 100px;
    height: 220px;
  }
}

.enter__title {
  &::before {
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: url("../../img/icon_enter.svg");
    z-index: 10;
  }
}

.enter__wrapper {
}

.enter__containaer {
  position: relative;
}

.enter__card-line1,
.enter__card-line2 {
  position: absolute;
  width: 34px;
  height: 7px;
  left: 54%;
  transform: translateX(-50%);
  img {
    width: 100%;
  }
}

.enter__card-line1 {
  top: 410px;
}

.enter__card-line2 {
  top: 804px;
}

.enter__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
  @include mixin.mq(pc) {
    flex-direction: row;
    align-items: start;
    margin-top: 40px;
  }
}
.enter__card {
  position: relative;
  color: color.$brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  padding-bottom: 16px;
  @include mixin.mq(pc) {
    width: 320px;
  }
  &:nth-child(2) {
    margin-top: 19px;
    @include mixin.mq(pc) {
      margin-top: 69px;
    }
  }
  &:nth-child(3) {
    margin-top: 20px;
    @include mixin.mq(pc) {
      margin-top: 0;
    }
  }
}

.enter__card-img {
  overflow: hidden;
  // position: relative;
  height: 210px;
  width: 196px;
  img {
    // aspect-ratio: 196/210;
    object-fit: cover;
    height: auto;
    width: 100%;
    transition: transform 0.8s;
  }
}

@media screen and (min-width: 769px) {
  .p-card:hover > a > figure > img {
    transform: scale(1.2);
    transition: transform 0.8s;
  }
}

.enter__card-body {
  display: flex;
  flex-direction: column;
  // gap: 19px;
}

.enter__card-title {
  font-weight: 700;
  text-align: center;
}

.enter__card-text {
  font-size: 12px;
  text-align: center;
  margin-top: 19px;
}

.enter__card-button {
  margin-top: 17px;
  text-align: center;
}

.link-button {
  display: inline-block;
  position: relative;
  font-size: 14px;
  padding-block: 7px;
  padding-right: 11px;
  padding-left: 39px;
  text-align: center;
  background: color.$white;
  color: color.$brown;
  font-weight: 700;
  border: solid 1px transparent;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    width: 20px;
    height: 20px;
    background: url("../../img/icon_instagram.svg") no-repeat;
    z-index: 10;
  }
}

.enter__button {
  margin-top: 2px;

  @include mixin.mq(pc) {
    width: 357px;
  }
  button {
    padding: 6px 3px;
    @include mixin.mq(pc) {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
    }
  }
}

/*----------------------------------
    prize
-----------------------------------*/

.prize {
  background: color.$l-blue;
  // padding-top: 30px;
}

.prize__contents {
  position: relative;
  padding: 10px 20px 30px 20px;
  // z-index: 10;
  &::before {
    content: "";
    position: absolute; /* 擬似要素の位置を決めるために追加 */
    width: 238px;
    height: 83px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(../../img/deco_prizes1_sp.svg) no-repeat center center /
      cover;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute; /* 擬似要素の位置を決めるために追加 */
    bottom: 0;
    left: 0;
    border-radius: 24px;
    background: color.$white;
    // width: 375px;
    width: 100%;
    height: calc(100% - 83px);
    z-index: 2;
  }
}

.prize__inner {
  padding: 0;
}

.prize__title {
  z-index: 10;
  &::before {
    content: "";
    // position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: url("../../img/icon_prize.svg");
  }
}

.prize__body {
  // z-index: 60;
  position: relative;
  z-index: 10;
}

.prize__heading {
  margin-top: 30px;
  font-size: 12px;
  color: color.$brown;
  // line-height: 1.6;
  text-align: center;
  // letter-spacing: -0.1em;
}

.prize__cards {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 15px;
  justify-content: center;
}

.prize__card {
  // overflow: hidden;
  position: relative;
  background: color.$gray;
  // border-radius: 8px 8px 0 0;//上だけ
  width: 160px;
  height: 196px;
  border-radius: 10px;

  figure {
    display: block;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(-45deg, color.$d-blue 50%, transparent 50%);
    border-bottom-right-radius: 10px;
  }
}

.prize__card-number {
  position: absolute;
  top: -11%;
  left: 50%;
  transform: translateX(-50%);
  width: 48px;
  height: 48px;
}

.prize__card-img {
  // display: block;
  width: 160px;
  height: 140px;
  border-radius: 10px 10px 0px 0px; //左上、右上、右下、左下
  overflow: hidden;
  img {
    width: 100%;
  }
}

.prize__card-body {
}

.prize__card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: color.$brown;
  font-size: 12px;
  font-weight: 700;
  min-height: 60px;
}

.prize__card-icon {
  position: absolute;
  bottom: 0;
  right: 6px;
  z-index: 99;
}

.prize_bg_photo {
  // position: absolute;
  // bottom: 0;
  // left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -40px;

  width: 580px;
  height: 260px;
  margin-left: -104px;

}

.prize__button {
  z-index: 20;
  margin-top: 18px;
}

/*----------------------------------
    spot
-----------------------------------*/
.spot {
  position: relative;
  margin-top: 20px;
  padding-top: 46px;
  padding-bottom: 24px;
  // padding-bottom: 64px;
  background: color.$d-blue;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 46px;
  }

  &::before {
    top: -46px;
    background: url("../../img/img_bg_wave-top.png") transparent repeat-x left -3px
      center / contain;
  }

  &::after {
    bottom: -46px;
    background: url("../../img/img_bg_wave-bottom.png") transparent repeat-x
      left -3px center / contain;
  }
  z-index: 99;
}

.spot__head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.spot__head-img {
  width: 28px;
  height: 28px;
  img {
    width: 100%;
  }
}

.spot__head-main {
  color: color.$white;
  text-align: center;
  font-family: config.$font-family-jp2;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.25; /* 35px */
}

.spot__card {
  position: relative;
  color: color.$brown;
  background: color.$white;
  border-radius: 12px;
  width: 240px;
  height: 402px;
}

.spot__card-img {
  top: 0;
  left: 0;
  overflow: hidden; /* 内容がはみ出さないようにする */
  width: 100%; /* カード全体の幅に合わせる */

  &::after {
    content: "";
    display: block;
    padding-top: 75%; /* 16:9のアスペクト比に設定 (240px / 180px = 4 / 3 = 75%) */
  }

  img {
    position: absolute; /* 絶対位置に設定 */
    // aspect-ratio: 240/180;
    top: 0;
    left: 0;
    height: auto;
    width: 100%; /* 親要素の幅に合わせる */
    object-fit: cover; /* 画像の表示方法を設定 */
    border-radius: 12px 12px 0 0;
  }
}

// @media screen and (min-width: 769px) {
//   .p-card:hover > a > figure > img {
//     transform: scale(1.2);
//     transition: transform 0.8s;
//   }
// }

.spot__card-body {
  padding-inline: 24px;
}

.spot__card-title {
  margin-top: 16px;
  font-weight: 700;
  text-align: center;
}

.spot__card-text {
  margin-top: 16px;
  font-size: 12px;
}

.spot__swiper {
  margin-top: 24px;
  z-index: 99;
  @include mixin.mq(pc) {
    // height: auto;
    margin-top: 80px;
  }
}

.spot__slide {
  /* 画像のサイズ調整 */
  // img {
  //   height: auto;
  //   width: 100%;
  // }
}

.spot__slide-card {
  // width: 100px;
  // height: 100px;
  // @include mixin.mq(pc) {
  //   // width: 200px;
  //   // height: 200px;
  // }
}

.spot__content {
  position: relative;
  z-index: 10;
}

.spot__content-img {
  width: 255px;
  height: 55px;
  margin-inline: auto;
  img {
    width: 100%;
  }
}

.spot__text {
  margin-top: 16px;
  color: color.$white;
  text-align: center;
  font-size: 12px;
  // white-space: nowrap; /* 文字を改行させない */
}

.spot__button {
  z-index: 20;
  margin-top: 24px;
}

/*----------------------------------
    qa
-----------------------------------*/

.qa {
  padding-top: 80px;
  padding-bottom: 30px;
  background: color.$l-blue;
}

.qa__inner {
}

.qa__contents {
}

.qa__title {
}

.qa__boxes {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.qa-box {
  border-radius: 12px;
  border: 2px solid color.$brown;
  background: color.$white;

  &.is-open {
    .qa-box__head {
      &::after {
        // transform: rotate(0deg);
        background: url("/img/icon-qa_close.png") no-repeat center center /
          contain;
      }
    }
  }
}

.qa-box__head {
  padding: calc(12px - 2px) calc(40px - 2px) calc(12px - 2px) calc(16px - 2px);
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  &::after {
    content: "";
    position: absolute;
    // top: 50%;
    top: 33%;
    right: 16px;
    //アイコンを入れるエリア
    width: calc(3.27px * 2 + 17.5px);
    height: calc(3.27px * 2 + 17.5px);
    background: url("/img/icon-qa_open.png") no-repeat center center / contain;
    // transform: rotate(180deg);
  }
}

.qa-box__head-icon {
  //Q
  font-family: config.$font-family-en2;
  color: color.$blue;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  display: grid;
  place-items: center;
  // width: 44px;
  // height: 44px;
  // border-radius: 22px;
  // border: 3px solid color.$brown;
  // background: #f5810e;

  // display: flex;
  // flex-direction: row;

  // position: absolute;
  // left: 0px;
  // top: 50%;
  // transform: translateY(-50%);
}

.qa-box__head-text {
  display: block;
  text-align: left;
  color: color.$brown;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
  padding-left: 12px;
}

.qa-box__body {
  padding: calc(10px + 2px) calc(17px - 2px) calc(20px - 2px) calc(15px - 2px);
  display: none;
  background: color.$gray;
  border-radius: 0 0 12px 12px;
}

.qa-box__a {
  display: flex;
  gap: 8px;
}

.qa-box__a-icon {
  // border-radius: 22px;
  // border: 3px solid color.$brown;
  // background: #fabe00;
  // color: color.$blue;
  display: grid;
  place-items: center;
  // flex-shrink: 0;
  font-family: config.$font-family-en2;
  color: color.$blue;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
}

.qa-box__a-text {
  text-align: left;
  flex-grow: 1;
  padding-top: 16px;
  color: color.$brown;
  font-size: 14px;
}

/*----------------------------------
    requirement
-----------------------------------*/
.requirement {
  background: color.$l-blue;
}

.requirement__inner {
}

.requirement__contents {
  border: 8px solid color.$white;
  background: rgba(255, 255, 255, 0.5);
  padding-inline: 15px;
}

.requirement__title {
}

.requirement__list {
  margin-block: 24px;
}

.requirement-list {
}

.requirement-list__item {
  margin-top: 12px;
  color: color.$brown;
  border-bottom: 1px solid color.$d-gray;

  &:last-child {
    border-bottom: none;
  }

  p {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 12px;
  }
  &::before {
    content: ""; /* カスタムのリストスタイルを設定 */
    background-color: color.$blue; /* 色を青に設定 */
    width: 8px;
    height: 8px;
    border-radius: 50%;
    // font-size: 20px; /* 大きさを調整 */
    display: inline-block; /* インラインブロックにして位置を調整 */
    // width: 1em; /* 左側のマージンを確保 */
    // margin-left: -1em; /* 左にずらして位置を調整 */
    margin-right: 8px;
  }
}

.requirement-list__head {
  font-size: 14px;
  font-weight: 700;
}

.requirement-list__item-note {
  list-style-type: disc;
  margin-top: 8px;
  margin-left: 24px;
  font-size: 12px;
  // padding-left: 8px; /* インデント */
}

.requirement__bg {
  display: inline-block;
  margin-top: 24px;
}

/*----------------------------------
    contact
-----------------------------------*/

.contact {
  margin-block: 40px;
}

.contact__inner {
}

.contact__title {
}

.contact__body {
  margin-top: 24px;
  color: color.$brown;
}

.contact__head {
  font-size: 12px;
  text-align: center;
}

.contact__contents {
  padding-block: 24px;
}

.contact__form {
}

.contact__fields {
  display: flex;
  flex-direction: column;
  gap: 24px; //縦並びのflexで縦の余白はgapで設定
}

.contact__field {
  display: flex;
  flex-direction: column;
  gap: 8px; //縦並びのflexで縦の余白はgapで設定
}

.form-field {
  @include mixin.mq(pc) {
    display: flex; //横並び
    gap: 32px; //フォームの左の余白
  }
}

.form-field__head {
  display: flex;
  align-items: center;
  gap: 10px;
  @include mixin.mq(pc) {
    width: calc(212px - 32px);
    flex-shrink: 0; //これ以上縮めないで　＊flexが自動で縮めることがあるので明示しておく
    justify-content: flex-end;
  }
}

.form-field__label {
  font-weight: 700;
  line-height: calc(23 / 16); //23px
}

.form-field__tag {
  display: inline-block;
  border-radius: 4px;
  background: color.$red;
  padding: 4px 8px 4px 8px;
  color: #fff;
  font-size: 11px;
  // font-weight: 700;
  line-height: 1;
  letter-spacing: 1.98px;
}

.form-field__item {
  margin-top: 14px;
  flex-grow: 1; //残りの幅全てに当てててください
}

.form-text {
  width: 100%;
  border-radius: 8px;
  background: color.$gray;
  border: none;
  padding: calc(15px - 3px) calc(16px - 3px) calc(14px - 3px);
  transition: border-color 0.3s;

  &::placeholder {
    color: color.$d-gray;
  }

  &:hover,
  &:focus {
    border-color: color.$l-blue;
    outline: none; /* デフォルトの青いラインを消す */
  }
}

.is-option {
}

.form-select {
  appearance: none; /*標準のアイコンを消す*/
  width: 100%;
  border-radius: 8px;
  background: color.$gray;
  border: none;
  // font-weight: 700;
  // padding: 15px 46px 14px 16px;
  padding: calc(15px - 3px) calc(46px - 3px) calc(14px - 3px) calc(16px - 3px);

  //select要素では擬似要素が使えないので背景画像として利用する
  // background: url(../../img/select-arrow.png) no-repeat center right 14px/13.217px
  // 10.182px;

  transition: border-color 0.3s;

  &:hover,
  &:focus {
    border-color: color.$l-blue;
    outline: none; /* デフォルトの青いラインを消す */
  }
}

.form-filed__radios {
}

.form-field__radio {
}

.form-radio {
  line-height: calc(23 / 16); //23px
  &:hover {
    /* hoverが当たるところ */
    .form-radio__text {
      &::before {
        /*切り替わるところ*/
        border-color: color.$l-blue;
      }
    }
  }
}

.form-radio__input {
  width: 1px;
  height: 1px;
  position: absolute; //浮かせてレイアウトとは関係ないようにする
  clip: rect(0, 0, 0, 0); //見えないようにする
  overflow: hidden;
  //display:noneにすると標準の機能が消えるので消さない
  &::after {
    width: 52px;
    height: 55px;
    padding: 16px 1px 16px 0px;
    background: var(--LP-Blue, #9ed0e0);
  }

  //radioボタンにチェックがついた時にafterの透過度を0->1にする
  //checkedとform-field_radio-textは階層が同じなので+をつける
  &:checked {
    + .form-radio__text {
      &::after {
        opacity: 1;
      }
    }
  }

  &:focus {
    + .form-radio__text {
      &::before {
        /*切り替わるところ*/
        border-color: color.$l-blue;
      }
    }
  }
}

.form-radio__text {
  // font-weight: 700;
  padding-left: 28px; //24+4px
  position: relative;

  //form-field_radio-textを起点にして擬似要素を作っていく
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  &::before {
    width: 24px;
    height: 24px;
    // border-radius: 8px;
    background: color.$gray;
    border: none;
    // left: 0;
    transition: border-color 0.3s; /*hover時 ○はbeforeで作成されているのでここ*/
  }

  //after 中のオレンジの丸
  &::after {
    width: 10px;
    height: 10px;
    background: color.$blue;
    left: 7px;
    opacity: 0;
  }
}

.form-textarea {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  background: color.$gray;
  border: none;
  padding: calc(16px - 3px);
  transition: border-color 0.3s;

  &::placeholder {
    color: color.$d-gray;
  }

  &:hover,
  &:focus {
    border-color: color.$l-blue;
    outline: none; /* デフォルトの青いラインを消す */
  }
}

.contact__privacy {
  margin-top: 28px;
  text-align: center;
}

.form-checkbox {
  &:hover {
    .form-checkbox__text {
      &::before {
        border-color: color.$l-blue;
      }
    }
  }
}

.form-checkbox__input {
  width: 1px;
  height: 1px;
  position: absolute; //浮かせてレイアウトとは関係ないようにする
  clip: rect(0, 0, 0, 0); //見えないようにする
  overflow: hidden;
  //display:noneにすると標準の機能が消えるので消さない

  //チェックがついた時にafterの透過度を0->1にする
  //checkedとform-checkbox__textは階層が同じなので+をつける
  &:checked {
    + .form-checkbox__text {
      &::after {
        opacity: 1;
      }
    }
  }

  &:focus {
    + .form-checkbox__text {
      &::before {
        border-color: color.$l-blue;
      }
    }
  }
}

.form-checkbox__text {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 170%; /* 23.8px */

  a {
    text-decoration-line: underline;
    font-weight: inherit; //子要素のCSSの値を親要素と同じにしたい場合は、継承を表す「inherit」
    transition: color 0.3s;

    &:hover {
      color: color.$l-blue;
    }
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  // 四角の部分
  &::before {
    width: 20px;
    height: 20px;
    border-radius: 1px;
    border: 1px solid #111;

    transition: border-color 0.3s;
  }

  //after 中のチェックマーク
  &::after {
    width: 23px;
    height: 17.53px;
    left: -1px;
    margin-top: -1.2px;
    background: url(../../img/check-icon.png) no-repeat center center / contain; //contain:縦横比保ったまま
    opacity: 0;
    @include mixin.mq(pc) {
      margin-top: 2px;
    }
  }
}

.contact__button {
  text-align: center;
  margin-top: 24px;
  margin-inline: auto;
}

/*----------------------------------
    footer
-----------------------------------*/

.footer {
  padding-top: 40px;
  // padding-bottom: 200px;
  background: color.$l-blue;
  position: relative;
}

.inner {
}

.footer__inner {
}

.footer__sns {
}

.footer__sns-head {
  text-align: center;
}

.footer__sns-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.footer__sns-youtube {
}

.footer__sns-instagram {
}

.footer__sns-x {
}
.footer__decoration-onomichi {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  height: auto;
}

.footer__info {
  // margin-top: 24px;
  margin-top: 60px;
  // margin-bottom: 126px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: color.$white;
  @include mixin.mq(pc) {
    flex-direction: row-reverse;
  }
}

.footer__ifram-map {
  // margin-top: 30px;
  text-align: center;
  // position: absolute;
  position: relative;
  // top: 200px;

  @include mixin.mq(pc) {
    margin-top: 0px;
    top: 0;
    left: 0;
    width: 512px;
    // width: 52.8%;
  }
  iframe {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    height: auto;
    // aspect-ratio: 608/440; //縦横比を設定
    aspect-ratio: 512/400; //縦横比を設定
    vertical-align: top;
    @include mixin.mq(pc) {
      aspect-ratio: 512/400;
    }
  }
}

.footer__info-body {
  margin-top: 300px;
  // text-align: center;
  @include mixin.mq(pc) {
    margin-top: 24px;
  }
}

.footer__info-logo {
  width: 153px;
  height: 20px;
  margin-inline: auto;
  img {
    width: 100%;
  }
  @include mixin.mq(pc) {
    margin-inline: 0;
    text-align: left;
  }
}

.footer__info-list {
  margin-top: 24px;
}

.footer-table {
  display: flex;
  flex-wrap: wrap; /* 行が長くなった場合に折り返し */
  // background-color: #f9f9f9;
  // border: 1px solid #ddd;
  padding-inline: 24px;
  padding-bottom: 24px;
  color: color.$brown;
  font-size: 12px;
  line-height: 1.6; /* 19.2px */
  dt,
  dd {
    display: flex;
    align-items: center; /* 中央揃え */
    // margin-bottom: 10px; /* 行間の設定 */
    padding-bottom: 10px;
  }
  dt {
    width: 25%; /* 用語の幅 */
    font-weight: 700;
    &::before {
      content: ""; /* カスタムのリストスタイルを設定 */
      background-color: color.$blue; /* 色を青に設定 */
      width: 8px;
      height: 8px;
      border-radius: 50%;
      // font-size: 20px; /* 大きさを調整 */
      display: inline-block; /* インラインブロックにして位置を調整 */
      // width: 1em; /* 左側のマージンを確保 */
      // margin-left: -1em; /* 左にずらして位置を調整 */
      margin-right: 8px;
    }
  }
  dd {
    width: 75%; /* 定義の幅 */
    margin: 0;
    // padding: 0 10px;
  }
  @include mixin.mq(pc) {
    font-size: 16px;
  }
}

.footer-table__company-head {
}

.footer-table__company {
}

.footer-table__address-head {
}

.footer-table__address {
}

.footer-table__business-hours-head {
}

.footer-table__business-hours {
}

.footer-table__tel-head {
}

.footer-table__tel {
}

.footer__info-company {
}

.footer__info-adress {
}

.footer__info-business-hours {
}

.footer__info-tel {
}

.footer__pagetop {
  width: 75px;
  height: 78px;
  margin-block: 24px;
  margin-inline: auto;
  img {
    max-width: 100%;
  }
}

.copyright {
  display: block;
  height: 41px;
  width: 100%;
  padding-bottom: 24px;
  background: color.$d-blue;
  color: color.$white;
  font-size: 10px;
  line-height: 1.6; /* 16px */
  text-align: center;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  margin-top: 46px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 46px;
    top: -46px;
    background: url("../../img/img_bg_wave-top.png") transparent repeat-x left -3px
      center / contain;
  }
}
