@use "../setting/config";
@use "../setting/color";
@use "../mixin/mixin";
@use "../module/common";

/*----------------------------------
    fv
-----------------------------------*/
.fv {
  background: color.$l-blue;
  margin-top: config.$header-height-sp;
  // background: url("../../img/fv-bg_sp.png") no-repeat center center / contain;
  height: 554px;
  position: relative;
  @include mixin.mq(pc) {
    // background: url("../../img/fv-bg_pc.png") no-repeat center center / contain;
    height: 740px;
  }
}

.fv__bg-image {
  position: absolute;
  top: 0;
  left: 0;
}

.fv__head {
  position: relative;
}
.fv__head-sub {
  text-align: center;
  text-shadow: 0px 0px 30px color.$white;
  font-family: config.$font-family-jp2;
  color: color.$brown;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25; /* 17.5px */
  padding-top: 17px;
  @include mixin.mq(pc) {
    font-size: 24px;
    font-weight: 500;
    padding-top: 35px;
  }
}

.fv__title1 {
  position: absolute;
  top: calc(config.$header-height-sp + 10px);
  left: 50%;
  transform: translateX(-50%);
  width: 335px;
  height: 53px;
  @include mixin.mq(pc) {
    top: calc(config.$header-height-pc + 54px);
    width: 520px;
    height: 82px;
  }
  img {
  }
}

.fv__title2 {
  position: absolute;
  top: calc(config.$header-height-sp + 10px + 53px + 12px);
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: 40px;
  @include mixin.mq(pc) {
    // top: calc(config.$header-height-pc + 54px + 52px + 16px);
    top: 215px;
    width: 356px;
    height: 60px;
  }
  img {
  }
}

.fv__image-items {
  position: relative;
}

.fv__fukidashi {
  position: absolute;
  top: calc(config.$header-height-sp + 79px); //143px
  left: 21%;
  transform: translateX(-50%);
  width: 142px;
  height: 80px;
  @include mixin.mq(pc) {
    top: 180px;
    left: 32.6%;
    width: 244px;
    height: 130px;
  }
}

.fv__present {
  position: absolute;
  top: calc(config.$header-height-sp + 72px); //136px
  left: 76%;
  transform: translateX(-50%);
  width: 110px;
  height: 110px;
  @include mixin.mq(pc) {
    top: 197px;
    left: 63.8%;
    width: 180px;
    height: 180px;
  }
}

.fv__smartphone-image {
  position: absolute;
  //   top: calc(config.$header-height-sp + 73px + 53px + 13px);
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 200px;
  height: 408px;
  @include mixin.mq(pc) {
    top: 213px;
    width: 250px;
    height: 510px;
  }
}

.fv__food {
  position: absolute;
  top: 523px;
  left: 13%;
  transform: translateX(-50%);
  width: 86px;
  height: 141px;
  z-index: 11;
  @include mixin.mq(pc) {
    top: 423px;
    left: 29%;
    width: 202px;
    height: 332px;
  }
}

.fv__cat1 {
  position: absolute;
  top: 585px;
  left: 83%;
  transform: translateX(-50%);
  width: 98px;
  height: 72px;
  z-index: 13;
  @include mixin.mq(pc) {
    top: 615px;
    left: 70.5%;
    width: 233px;
    height: 174px;
  }
}

.fv__cat2 {
  position: absolute;
  top: 530px;
  left: 91%;
  transform: translateX(-50%);
  width: 62px;
  height: 69px;
  z-index: 12;
  @include mixin.mq(pc) {
    top: 490px;
    left: 68.5%;
    width: 170px;
    height: 190px;
  }
}

/*----------------------------------
    about
-----------------------------------*/

.about {
  background: color.$l-blue;
  padding-top: 189px;
  padding-bottom: 0px;
  position: relative;
  overflow: hidden; //親要素に
  @include mixin.mq(pc) {
    padding-top: 176px;
  }
}

.inner {
  padding-inline: config.$paddingSide-sp;
  @include mixin.mq(pc) {
    padding-inline: config.$paddingSide-pc;
  }
}

.about__decoration {
}

.about__decoration-bgl {
  position: absolute;
  top: 583px;
  left: -129px;
  width: 200px;
  height: 200px;
  overflow: hidden;

  z-index: 24;
  /* デバッグ用に境界線を追加 */
  // border: 1px solid red;
  img {
    width: 100%; /* 画像の幅を親要素に合わせる */
    height: 100%; /* 画像の高さを親要素に合わせる */
    object-fit: cover; /* 画像のアスペクト比を維持しながら要素を覆う */
  }

  @include mixin.mq(pc) {
    top: 250px;
    left: -338px;
    width: 480px;
    height: 480px;
  }
}

.about__decoration-bgr {
  position: absolute;
  top: 462px;
  right: -140px;
  // left: 250px;
  width: 200px;
  height: 200px;

  // overflow-x: clip;
  z-index: 25;
  img {
    width: 100%; /* 画像の幅を親要素に合わせる */
    height: 100%; /* 画像の高さを親要素に合わせる */
    object-fit: cover; /* 画像のアスペクト比を維持しながら要素を覆う */
  }

  /* デバッグ用に境界線を追加 */
  // border: 1px solid red;

  @include mixin.mq(pc) {
    top: 250px;
    right: -284px;
    width: 480px;
    height: 480px;
  }
}
.about__decoration-square {
  display: none;
  @include mixin.mq(pc) {
    z-index: 21;
    position: absolute;
    top: 156px;
    left: -20px;
    display: block;
    width: 250px;
    height: 250px;
  }
}

.about__decoration-pawpads {
  position: absolute;
  top: 178px;
  //   left: 600px;
  right: 0;
  width: 54px;
  height: 120px;
  @include mixin.mq(pc) {
    top: 100px;
    //   left: 600px;
    right: 160px;
    width: 100px;
    height: 220px;
  }
}

.about__decoration-goods {
  position: absolute;
  top: 950px;
  left: 185px;
  width: 133px;
  height: 65.003px;
  @include mixin.mq(pc) {
    width: 308px;
    height: 150.604px;
    // top: 900px;
    right: 120px;
  }
}
.about__decoration-stone {
  position: absolute;
  top: 908px;
  right: 20px;
  width: 48px;
  height: 48px;
  @include mixin.mq(pc) {
    width: 101px;
    height: 100.047px;
    top: 800px;
    right: 20px;
  }
}

.about__decoration-wave {
  display: none;
  @include mixin.mq(pc) {
    z-index: 21;
    position: absolute;
    top: 700px;
    right: 0px;
    display: block;
    width: 807px;
    height: 12px;
  }
}

.about__decoration-wave2 {
  display: none;
  @include mixin.mq(pc) {
    z-index: 21;
    position: absolute;
    top: 750px;
    right: -50px;
    display: block;
  }
}

.about__decoration-slope {
  position: absolute;
  top: 748px;
  left: -56px;
  width: 216px;
  height: 433px;
  z-index: 23;
  @include mixin.mq(pc) {
    width: 427px;
    height: 817px;
    top: 498px;
    left: -103px;
  }
}

.about__decoration-onomichi {
  position: absolute;
  top: 1035px;
  left: 12px;
  width: 354.642px;
  height: 37.2px;
  @include mixin.mq(pc) {
    width: 891px;
    height: 97px;
    top: 1172px;
    left: 49.8%;
    transform: translateX(-50%);
  }
}

.about__contents {
  border-radius: 24px;
  background: color.$white;
  padding: 30px 12px 40px;
  position: relative;
  z-index: 30;
  @include mixin.mq(pc) {
    margin-inline: auto;
    max-width: calc(620px + 114px * 2);
    border-radius: 40px;
    padding: 40px 12px 40px;
  }
  &::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -36px;
    width: 100px;
    height: 36px;
    background-color: color.$b-gray;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: "";
    @include mixin.mq(pc) {
      width: 140px;
      bottom: -50px;
      height: 50px;
    }
  }
}

.about__image1 {
  position: absolute;
  top: 4%;
  left: 10%;
  width: 80px;
  height: 60px;
  @include mixin.mq(pc) {
    width: 134px;
    height: 100px;
  }
}
.about__image2 {
  position: absolute;
  top: 4%;
  left: 70%;
  width: 80px;
  height: 60px;
  @include mixin.mq(pc) {
    width: 134px;
    height: 100px;
  }
}

.title {
  color: color.$brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  position: relative;
  @include mixin.mq(pc) {
    gap: 8px;
  }
}

.title-image {
  width: 48px;
  height: 48px;
  img {
    max-width: 100%;
  }
  //   position: absolute;
  //   top: 0;
  //   left: 50%;
  //   transform: translateX(-50%);
}
.title-sub {
  text-align: center;
  font-family: config.$font-family-en1;
  line-height: 1.25; /* 20px */
  @include mixin.mq(pc) {
    font-size: 20px;
  }
}

.title-main {
  text-align: center;
  font-family: config.$font-family-jp2;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25; /* 25px */
  @include mixin.mq(pc) {
    font-size: 32px;
  }

  span {
    display: inline-block;
    position: relative;
    // padding: 0 0.4em 0.2em;
    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 6px;
      background-color: #ffee56;
      @include mixin.mq(pc) {
        bottom: -15px;
      }
    }
  }
}

.about__body {
  text-align: center;
  color: color.$brown;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 37px;
  @include mixin.mq(pc) {
    margin-top: 50px;
  }
}

.about__heading {
  font-size: 14px;
  font-weight: 700;
  //   line-height: 160%; /* 22.4px */
  @include mixin.mq(pc) {
    font-size: 16px;
    // letter-spacing:0.03em;
  }
}
.about__text-container {
  display: flex;
  flex-direction: column;
  gap: 18.5px;
  @include mixin.mq(pc) {
    margin-top: 10px;
    gap: 27.6px;
  }
}

.about__text {
  font-size: 12px;
  line-height: 1.6;
  @include mixin.mq(pc) {
    font-size: 16px;
    line-height: 1.6;
  }
}

.about__text-last {
  margin-top: 6px;
  letter-spacing: -0.025em;
  position: relative;
  @include mixin.mq(pc) {
    margin-top: 20px;
  }
  span {
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    @include mixin.mq(pc) {
      font-size: 20px;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 3px;
      border-bottom: 2px dashed color.$blue;
    }
  }
}

.about__button {
  margin-inline: auto;
  margin-top: 8px;
  .button {
    padding: calc(7px - 3px) calc(24px - 3px);
  }
  @include mixin.mq(pc) {
    margin-top: 20px;
  }
}

.about__slide {
}

//swiper
.swiper {
}

.about__swiper {
  margin-top: 178px;
  z-index: 99;
  @include mixin.mq(pc) {
    // height: auto;
    margin-top: 259px;
  }
}

.swiper-wrapper {
  /* スライドの動き等速 */
  transition-timing-function: linear;
}

.swiper-slide {
}

.about__slide {
  /* 画像のサイズ調整 */
  img {
    height: auto;
    width: 100%;
  }
}

.record__slide-image {
  width: 100px;
  height: 100px;
  @include mixin.mq(pc) {
    width: 200px;
    height: 200px;
  }
}

/*----------------------------------
    enter
-----------------------------------*/

.enter {
  background: color.$l-blue;
  padding-top: 120px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden; //親要素に
}
.enter__decoration-map {
  position: absolute;
  top: 100px;
  left: 0;
  width: 94px;
  height: 80px;
}

.enter__cat3 {
  position: absolute;
  top: 100px;
  right: 0;
  width: 149px;
  height: 223px;
}

.enter__cat4 {
  position: absolute;
  top: 120px;
  right: -50px;
  width: 94px;
  height: 80px;
}

.enter__decoration-pawpads {
  position: absolute;
  top: 300px;
  //   left: 600px;
  right: 0;
  width: 55px;
  height: 120px;
  /* 画像を反転する */
  transform: scale(-1, 1);
  @include mixin.mq(pc) {
    top: 100px;
    //   left: 600px;
    right: 160px;
    width: 100px;
    height: 220px;
  }
}

.enter__decoration-pawpads-opt {
  position: absolute;
  top: 690px;
  left: 10px;
  // right: 0;
  width: 54px;
  height: 120px;
  /* 画像を反転する */
  transform: scale(1, -1);
  @include mixin.mq(pc) {
    top: 300px;
    //   left: 600px;
    right: 160px;
    width: 100px;
    height: 220px;
  }
}

.enter__decoration-pawpads-opt2 {
  position: absolute;
  top: 1050px;
  // left: 10px;
  right: 15px;
  width: 54px;
  height: 120px;
  /* 画像を反転する */
  transform: scale(-1, -1);
  @include mixin.mq(pc) {
    top: 300px;
    //   left: 600px;
    right: 160px;
    width: 100px;
    height: 220px;
  }
}

.enter__wrapper {
}

.enter__containaer {
  position: relative;
}

.enter__card-line1,
.enter__card-line2 {
  position: absolute;
  width: 34px;
  height: 7px;
  left: 50%;
  transform: translateX(-50%);
  img {
    width: 100%;
  }
}

.enter__card-line1 {
  top: 430px;
}

.enter__card-line2 {
  top: 856px;
}

.enter__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  @include mixin.mq(pc) {
    flex-direction: row;
    align-items: start;
    margin-top: 40px;
  }
}
.enter__card {
  position: relative;
  color: color.$brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
  @include mixin.mq(pc) {
    width: 320px;
  }
  &:nth-child(2) {
    margin-top: 34px;
    @include mixin.mq(pc) {
      margin-top: 69px;
    }
  }
  &:nth-child(3) {
    margin-top: 34px;
    @include mixin.mq(pc) {
      margin-top: 0;
    }
  }
}

.enter__card-img {
  overflow: hidden;
  // position: relative;
  height: 210px;
  width: 196px;
  img {
    // aspect-ratio: 196/210;
    object-fit: cover;
    height: auto;
    width: 100%;
    transition: transform 0.8s;
  }
}

@media screen and (min-width: 769px) {
  .p-card:hover > a > figure > img {
    transform: scale(1.2);
    transition: transform 0.8s;
  }
}

.enter__card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.enter__card-title {
  font-weight: 700;
  text-align: center;
}

.enter__card-text {
  font-size: 12px;
  text-align: center;
}

.enter__card-button {
  text-align: center;
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  text-align: center;
  background: color.$white;
  button {
    color: color.$brown;
    font-weight: 700;
  }
}

.enter__button {
  margin-top: 40px;
  @include mixin.mq(pc) {
    width: 357px;
  }
  button {
    padding: 6px 3px;
    @include mixin.mq(pc) {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
    }
  }
}

/*----------------------------------
    prize
-----------------------------------*/

.prize {
  background: color.$l-blue;
  padding-top: 120px;
}

.prize__title {
}

.prize__body {
}

.prize__heading {
  margin-top: 16px;
  font-size: 12px;
}

.prize__cards {
}

.prize__card {
  padding-top: 12px;
  position: relative;
}

.prize__card-no {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 48px;
  height: 48px;
  border-radius: 50%; //50%で正円にすることができる
  color: color.$white;
  background: #ce2073;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.prize__card-no-text {
  font-size: 7.68px;
  font-weight: 700;
}

.prize__card-no-number {
  font-family: config.$font-family-en2;
  font-size: 23.04px;
  font-style: normal;
}

.prize__card-img {
}

.prize__card-body {
}

.prize__card-title {
}

.prize__card-icon {
}
